*{
    box-sizing: border-box;
}
/* TODO Challenge 5: Añadir el código PHP que se indica en el ejercicio del Challenge 5 */

/* Final TODO Challenge 5 */

/* form{
    width: 300px;
    margin: 20px;
    border:1px solid black;

}
input{
    width: 100%;
} */
H3{
    text-align: center;
    color:#1A6EB6;
    }

    #registre {
    margin: 0 auto;
    }
    #login {
    margin: 0 auto;
    margin-top: 50px;
    display:none;
    }

    form{
      width: 400px;
      margin: auto;
      padding: 10px;
      background-color: #f5f5f5;
      font-size:60%;
    }
    label{
      display: block;
      margin: 15px 0 5px 0;
    }
    input{
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      margin-top: 5px;
      margin-bottom: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: 0;
    }
    span{
      color: #ff0000;
      cursor: pointer;
    }
    H1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    nav{
        text-align: center;
        display:inline;

    }
    a{
        text-decoration: none;
        color:#1A6EB6;
    }
    li{
        list-style-type: none;
        display:inline;
        margin:155px;
    }
    body{
        background-color:#E1E8EE;
        font-size:2em;
        /* color:#4E5E65; */
        /* color:#E84052; */
        color:#1A6EB6;
    }
    hr{
        color:4E5E65;
    }
