*{
    box-sizing: border-box;
}
html{
    background-color: rgb(143, 93, 19);
}
form{
    border: 6px solid white;
    border-radius: 2px;
    font-family: sans-serif;
    font-size: 15px;
    width: 35%;
    margin: 50px auto;
    padding: 30px;
    top: 50%;
    left: 50%;
    background-color: rgb(8, 231, 171);
}

form input{
    border: 0px;
    outline: none;
    margin:  10px;
    padding: 5px;
    width: 90%;
}

form h3{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: fantasy;
    letter-spacing: 2px;
}

#login{
    display: none;

}

span{
    color: red;
    /* text-decoration: underline; */
    font-weight: bold;
}

form p span:hover{
    color: red;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

p{
    text-align: center;
}

input[type=submit]{
    background: black;
    color: white;
    padding: 10px;

}

input[type=submit]:hover{
    background: rgba(62, 54, 54, 1);
    color: white;
    padding: 10px;
    cursor: context-menu;
}

nav ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    color: white;
}

nav ul li a:hover{
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

nav ul li{
    list-style: none;
    display: inline;
    text-align: center;
    cursor: none;
}

.resultslog, .resultsreg{
    font-style: italic;
    color: red;
    font-size: 125%;
}

/* TODO Challenge 5: Añadir el código PHP que se indica en el ejercicio del Challenge 5 */





/* Final TODO Challenge 5 */

/* form{
    width: 300px;
    margin: 20px;
}
input{
    width: 100%;
} */
