@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#button {
margin-bottom: 40px;
 }

 #button li {
 display: inline;
 }

 #button li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 4px;
  float: center;
  padding: 10px;
  background-color: #8FA9C5;
  color: #fff;

  }
