{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<!-- <h3>Soy la página de REGISTRO</h3> -->

  <form action="register" method="post" class="form" id="regForm">
      <label class="label">REGISTRO</label>
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="pass" placeholder="Contraseña" id="pass_reg">
      <input type="password" name="pass2" placeholder="Repite contraseña" id="pass2_reg">
      <input type="submit" name="registrar" value="Registrar" class="submit">
      <span>¿Ya estás registrado? <a href="#" class="click_aqui"> Click AQUÍ </a></span>
      <div class="results">{{ mensaje }}</div>
  </form>

<form action="login" method="post" class="form" id="logForm">
    <label class="label">LOGIN</label>
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="pass" placeholder="Contraseña" id="pass_log">
    <input type="submit" name="entrar" value="Entrar" class="submit">
    <span>¿No te has registrado? <a href="#" class="click_aqui"> Click AQUÍ </a></span>
    <div class="results">{{ mensaje }}</div>
</form>

{% endblock %}
