{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block body %}
    <div class="login">
        <div class="login-screen">
            <h1 class="titulo">Acceso</h1>
            <form id="formRegistro" class="login-form">
                <input type="text" name="usuario" placeholder="Nombre de usuario" autofocus="autofocus" class="mb-10">
                <input type="password" name="pass" placeholder="Contraseña" class="mb-10">
                <input type="password" name="pass2" placeholder="Repite contraseña" class="mb-10">
                <div class="mensajePantalla"></div>
                <input type="submit" value="registrar" class="btn">
                <span id="fr" onclick="formRegistro()" class="enlace">¿Ya eres usuario?</span>
            </form>
            <form id="formAcceso" class="login-form">
                <input type="text" name="usuario" placeholder="Nombre de usuario" class="mb-10">
                <input type="password" name="pass" placeholder="Contraseña" class="mb-10">
                <div class="mensajePantalla"></div>
                <input type="submit" value="acceder" class="btn">
                <span id="fa" onclick="formAcceso()" class="enlace">Crear nueva cuenta</span>
            </form>
        </div>
    </div>
{% endblock %}
