{% extends "base.html" %}

{% block title %}Registro{% endblock %}
{% block style %}
<link rel="stylesheet" href="public\css\forms.css">
<script src="https://kit.fontawesome.com/6b02d6804c.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

<!-- formulario validacion del registro -->
<form id="regForm" novalidate>
  <h3>REGISTRATE</h3>
  <label for="reg_email"></label>
  <input type="email" id="reg_email" name="emailReg" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
  <span class="error"></span>
  <label for="reg_pass"></label>
  <input type="password" id="reg_pass" name="passReg" placeholder="Contraseña" minlength="6">
  <span class="error"></span>
  <label for="reg_r_pass"></label>
  <input type="password" id="reg_r_pass" name="pass2Reg" placeholder="Repite Contraseña">
  <span class="error"></span>
  <input type="submit" name="registrar" value="Registrar">
  <a href="#" id="cambioAlogin"><span>ya estoy registrado</span></a>
  <div class="dataResp2"></div>
</form>

<!-- formulario validacion del login -->
<form id="logForm" novalidate>
  <h3>LOGIN</h3>
  <label for="lg_email"></label>
  <input type="email" id="lg_email" name="emailLogin" placeholder="Email">
  <span class="error"></span>
  <label for="lg_pass"></label>
  <input type="password" id="lg_pass" name="passLogin" placeholder="Contraseña">
  <span class="error"></span>
  <input type="submit" name="entrar" value="Entrar">
  <a href="#" id=cambioAregistro> <span>No tengo cuenta</span></a>
  <div class="dataResp2"></div>
</form>


{% endblock %}
